body{
	background-color: burlywood;
}

table{
	margin-top: 50px;
	text-align: center;
	background: bisque;
	color: black;
}
.head{
   justify-items: center;
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}

.display{
    width: 100vw;
    height: 100vh;
    /* Aligns the children items in a row direction */
    display: flex;
}

.content{
    width: 500px;
    height: 100px;
    
}

.process{
    width: 1500px
   
}